* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1140px;
    margin: 0 auto;
}
.nav-container{
    background-color: #faf9f5;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 4px 8px rgba(23, 152, 0, 0.05)
}
.nav-img{
    width: 100px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #222;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 24px;
}
.btn{
    background-color: #179800;
    border: none;
    padding: 12px 20px;
    color: beige;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    border: #179800 2px solid;
}
.login-btn{
    background-color: transparent !important;
    color: #179800;
    border: #179800 2px solid;
}
.btn-div{
    display: flex;
    align-items: center;
    gap: 20px;
}
#click{
    display: none;
}
.menu-btn{
    color: #179800;
    display: none;
    cursor: pointer;
}
.btn:hover{
    cursor: pointer;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 80px;
   

}
.hero-img{
    width: 600px;
}
.hero-text{
    text-align: center;
}
.hero-heading{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
}
header{
     background: linear-gradient(
    to top,
    #f0ece5,
    #f7f5f1
    );
}
.focus{
    color: #179800;
}
.hero-text-para{
    font-size: 14px;
    color: rgb(63, 61, 61);
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #efebe3;
    padding: 25px;
    padding-top: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(23, 152, 0, 0.1)
}
.card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 10px;
}
.service-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
h4{
    margin-top: 20px;
    margin-bottom: 6px;
    color: #333;
}
.service-img{
    background-color: #faf9f5;
    width: 60px;
    padding: 10px;
    border-radius: 50%;
}
.section-heading{
    color: #179800;
    font-weight: 600;
    font-size: 36px;
}
.product-div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 20px;
}
.product{
    border-radius: 8px;
}
.product-1{
    grid-column: span 2;
    grid-row: span 3;
    padding: 25px 10px 0px 25px;
    background: linear-gradient(to bottom, rgb(11, 146, 43), rgb(141, 214, 158)) !important;
}
.products-section{
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px 0px;
    
}
.product-bg{
    background-color:#efebe3;
    margin-bottom: 80px;
}
.banana{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 25px;
}
.discount{
    color: floralwhite;
}
.discount-text{
    color: #222;
    font-size: 12px;
}
.banana-btn{
    background-color: #efebe3;
    color: #179800;
    border: none;
}
.product-icon{
    background-color: #eee;
    padding: 10px;
    border-radius: 8px;
}
.product-2, .product-3,.product-4, .product-5, .product-6, .product-7, .product-8, .product-9, .product-10{
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #fff !important;
}
.dawat-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}
.arrival{
    max-width: 1140px;
    margin: 0 auto;
}
.cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px; 
    margin-top: 15px;
    margin-bottom: 80px;
}
.card-1{
    background-color: #114b06;
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px 35px 25px;
    border-radius: 8px;
}
.card-2{
    background-color: rgb(3, 51, 70);
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 25px;
}
.dawat-btn{
    background-color: #3f8332;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}
.up-to{
    color: #eee;
    font-size: 24px;
    margin-top: 15px;
}
.dawat-img{
    width: 220px;
}
.dawat-btn-2{
    background-color: skyblue;
    color: #333;
}
.grocery{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #efebe3;
    padding: 80px 25px;
    border-radius: 12px;
    margin-bottom: 60px;
    justify-content: space-around;
}
.grocery-section{
    margin-left: 15px;
    margin-right: 15px;
    max-width: 1140px;
    margin: 0 auto;
}
.grocery-title{
    text-align: center;
    font-size: 36px;
    color: #111;
}
.grocery-description{
    font-size: 15px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}
#email{
    border: none;
    padding: 16px;
    border-radius: 6px;
    width: 250px;
}
.email-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.submit-btn{
    border: none;
    padding: 16px;
    border-radius: 6px;
    width: 280px;
    background-color: #179800;
    color: #eee;
    font-size: 20px;
}




@media screen and (max-width: 768px) {
    .responsive{
        display: flex;
        flex-direction: column;
        position: fixed;
        left: -100%;
        top: 70px;
        background-color: rgb(249, 255, 253);
        width: 100%;
        padding-bottom: 20px;
        transition: all 0.9s ease;
        box-shadow: 0 4px 10px rgba(200, 247, 229, 0.5);

    }
    .btn-div{
        margin-top: 120px;
    }
    .res{
        padding-top: 10px;
    }
    .login-btn{
        margin-top: 20px;
    }
    .menu-btn{
        display: block;
    }
    #click:checked ~ .responsive{
        left: 0%;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f057";
    }
    .hero-heading{
    font-size: 28px;
    }
    .hero{
        padding-left: 10px;
        padding-right: 10px;
    }
    .card-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 15px;
    margin-right: 15px;  
    }
    .section-heading{
    margin-left: 15px;
    font-size: 28px;
    }
    .service-section{
    margin-top: 40px;
    margin-bottom: 40px;
    }
    .product-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    }
    .product-10{
        display: none;
    }
    .products-section{
        padding: 40px 0px;
    }
    .cards{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    }
    .grocery-section{
    margin-left: 15px;
    margin-right: 15px;
    }
    .grocery{
        flex-direction: column;
        justify-content: center;
    }
}

